/**
 * @project     - Coca
 * @author      - 
 * @created_by  - Md Shakib
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
/* fonts import -END */
/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  font-family: "Rubik", sans-serif !important;
}

/* reset, root - END */
@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

section {
  padding: 100px 0;
}
@media (max-width: 575px) {
  section {
    padding: 25px 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* helper , base classes */
.text-primary {
  color: #34C872 !important;
}

.bg-primary {
  background-color: #34C872 !important;
}

.text-secondary {
  color: #FE5A4E !important;
}

.bg-secondary {
  background-color: #FE5A4E !important;
}

.text-secondaryv2 {
  color: #06589C;
}

.bg-secondaryv2 {
  background-color: #06589C;
}

.text-heading {
  color: #044072;
}

.p-text {
  color: #5D83A3;
}

.bg-shade-green {
  background-color: #E9F9F0;
}

.f-48 {
  font-size: 48px;
  line-height: 70px;
  font-weight: 700;
}

.f-32 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}

.f-28 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}

.f-22 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 700;
}

.f-20 {
  font-size: 20px;
  line-height: 48px;
  font-weight: 600;
}

.f-18 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.f-18-v2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.f-16 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.f-14 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}

.f-14-v2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.f-12 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.radius-50 {
  border-radius: 50px;
}

.radius-16 {
  border-radius: 16px;
}

.radius-100 {
  border-radius: 100px;
}

nav {
  padding-top: 34px !important;
}
nav .nav-btn {
  padding: 15px 30px;
}
nav .nav-link:hover {
  color: #34C872;
}

.banner {
  background-image: url(../img/banner-bg.svg);
  background-repeat: no-repeat;
  margin-top: -100px;
  padding-block: 180px 120px;
}
.banner .banner-btn {
  padding: 15px 30px;
}

.our-service {
  background-image: url(../img/team-bg.svg);
  background-repeat: no-repeat;
  background-position-x: right 256px left 68px;
}
.our-service .service-card {
  padding: 70px 34px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.why-choose {
  background-image: url(../img/choose-bg.svg);
  background-repeat: no-repeat;
}
.why-choose .accordion .accordion-button {
  color: #044072 !important;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
}
.why-choose .accordion .accordion-body {
  color: #5D83A3;
  font-size: 16px;
  font-weight: 400;
}
.why-choose .accordion .accordion-item {
  background-color: transparent !important;
  box-shadow: none;
  padding: 25px 0 25px 30px;
}
.why-choose .accordion .accordion-button:not(.collapsed) {
  background-color: #FFF !important;
}
.why-choose .accordion .accordion-body:not(.collapsed) {
  background-color: #FFF !important;
  border-left: 3px solid #34C872;
}
.why-choose .accordion .accordion-button:focus {
  outline: none !important;
  border-color: 0 !important;
}
.why-choose .accordion .accordion-button::after {
  background-image: url(../img/accordion-icon.svg);
}

.expert-team .team-card {
  box-shadow: 0px 16px 33px -8px rgba(0, 0, 0, 0.06);
  padding: 40px;
}
.expert-team #splide01-track {
  padding: 100px 25px 100px 25px !important;
}
.expert-team .splide__arrow--prev {
  left: -4rem;
}
.expert-team .splide__arrow--next {
  right: -4rem;
}

.how-works {
  background-image: url(../img/shape-bg.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 999;
}
.how-works::after {
  position: absolute;
  content: "";
  background-image: url(../img/main-shape.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  top: -8px;
  left: 30px;
  z-index: -99;
}

.seo-score {
  background-image: url(../img/seo-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.seo-score .animators {
  right: 22px;
  top: 0;
}
.seo-score .seo-after {
  position: relative;
}
.seo-score .seo-after::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 64px;
  top: 0px;
  left: 50%;
  background-color: #5D83A3;
  opacity: 0.5;
}
.seo-score #input-website {
  padding: 20px 200px 20px 20px;
  border: 0;
  background-color: transparent;
}
.seo-score #input-website:focus {
  outline: none;
}
.seo-score #input-website::-moz-placeholder {
  font-size: 16px;
  color: #5D83A3;
  font-weight: 400;
}
.seo-score #input-website::placeholder {
  font-size: 16px;
  color: #5D83A3;
  font-weight: 400;
}
.seo-score #input-email {
  padding: 20px 200px 20px 20px;
  border: 0;
  background-color: transparent;
}
.seo-score #input-email:focus {
  outline: none;
}
.seo-score #input-email::-moz-placeholder {
  font-size: 16px;
  color: #5D83A3;
  font-weight: 400;
}
.seo-score #input-email::placeholder {
  font-size: 16px;
  color: #5D83A3;
  font-weight: 400;
}
.seo-score .seo-btn {
  padding: 21px 32px;
}

.related-blog {
  background-image: url(../img/related-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.related-blog .blog-catagory {
  padding: 10px;
}
.related-blog .blog-top {
  z-index: -99999;
}
.related-blog .blog--bottom {
  position: relative;
  padding: 40px 30px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.06);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -20px;
  z-index: 999;
  background-color: #FFF;
}/*# sourceMappingURL=style.css.map */