/**
 * @project     - Coca
 * @author      - 
 * @created_by  - Md Shakib
 * @created_at  - 
 * @modified_by -
 */

/* fonts import */

/* fonts import -END */

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* reset, root - END */

// container resize
.container {
    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}

// container resize - end
section {
    padding: 100px 0;

    @media (max-width:575px) {
        padding: 25px 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* helper , base classes */

// text-color
.text-primary {
    color: #34C872 !important;
}

.bg-primary {
    background-color: #34C872 !important;
}

.text-secondary {
    color: #FE5A4E !important;
}

.bg-secondary {
    background-color: #FE5A4E !important;
}

.text-secondaryv2 {
    color: #06589C;
}

.text-heading {
    color: #044072;
}

.p-text {
    color: #5D83A3;
}

// font-size 

.f-48 {
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
}

.f-32 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
}

.f-28 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}

.f-22 {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
}

.f-20 {
    font-size: 20px;
    line-height: 48px;
    font-weight: 600;
}

.f-18 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
}

.f-18-v2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.f-16 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.f-14 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
}

.f-14-v2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.f-12 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

// font weight 


// border-radius 
.radius-50 {
    border-radius: 50px;
}

.radius-16 {
    border-radius: 16px;
}

.radius-100 {
    border-radius: 100px;
}


// sec 
section
/* helper , base classes  - END*/

// nav area 
nav {
    padding-top: 34px !important;

    .nav-btn {
        padding: 15px 30px;
    }

    .nav-link {
        &:hover {
            color: #34C872;
        }
    }

}

// banner 
.banner {
    background-image: url(../img/banner-bg.svg);
    background-repeat: no-repeat;
    margin-top: -100px;
    padding-block: 180px 120px;

    .banner-btn {
        padding: 15px 30px;
    }
}

// expert-team 
.expert-team {
    background-image: url(../img/team-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right 256px left 68px;
    // left: 68px;
    // right: 256px;


    .team-card {
        padding: 70px 34px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
        z-index: 999;
    }
}

// why-choose 
.why-choose {
    background-image: url(../img/choose-bg.svg);
    background-repeat: no-repeat;


    .accordion {
        .accordion-button {
            color: #044072 !important;
            font-weight: 600;
            font-size: 18px;
            background-color: transparent;
        }

        .accordion-body {
            color: #5D83A3;
            font-size: 16px;
            font-weight: 400;
        }

        .accordion-item {
            background-color: transparent !important;
            box-shadow: none;
            padding: 25px 0 25px 30px;
        }

        .accordion-button:not(.collapsed) {
            background-color: #FFF !important;
        }

        .accordion-body:not(.collapsed) {
            background-color: #FFF !important;
            border-left: 2px solid #34C872;
        }

        .accordion-item:not(.collapsed) {
            // box-shadow: 0px 30px 60px 0px rgba(0, 94, 39, 0.06) !important;
        }

        .accordion-button:focus {
            outline: none !important;
            border-color: 0 !important;
        }

        .accordion-button::after {
            background-image: url(../img/accordion-icon.svg);
        }

    }




}